# 
.vscode
.idea
*.exe
*.txt
group_chat
server
client

# Ignore build directory with compilation results 
build/

# Track CMakeLists file for efficient compilation of programs
!CMakeLists.txt
